appdirs==1.4.4
beautifulsoup4==4.9.3
CacheControl==0.12.6
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
datefinder==0.7.1
decorator==4.4.2
distlib==0.3.1
docopt==0.6.2
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
firebase-admin==4.5.3
Flask==1.1.2
future==0.18.2
fuzzywuzzy==0.18.0
geocoder==1.38.1
geographiclib==1.50
geograpy3==0.1.24
geopy==2.1.0
geotext==0.4.0
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.36.2
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
httplib2==0.19.0
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
jellyfish==0.8.2
jieba3k==0.35.1
Jinja2==2.11.3
joblib==1.0.1
jsonify==0.5
langdetect==1.0.8
lxml==4.6.2
make-response==1
MarkupSafe==1.1.1
msgpack==1.0.2
newspaper3k==0.2.8
nltk==3.5
numpy==1.20.1
packaging==20.9
Pillow==8.1.2
pipdeptree==2.0.0
pipenv==2020.11.15
pipreqs==0.4.10
powerline-status==2.7
proto-plus==1.18.0
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser==2.20
pylodstorage==0.0.26
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
PyYAML==5.4.1
ratelim==0.1.6
rdflib==5.0.0
regex==2021.3.17
requests==2.25.1
requests-file==1.5.1
rsa==4.7.2
selenium==3.141.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2
SPARQLWrapper==1.8.5
tinysegmenter==0.3
tldextract==3.1.0
tqdm==4.59.0
uritemplate==3.0.1
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
yarg==0.1.9